/* /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.carrousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: left;
}

.slider {
    width: 100%;
    position: relative;
}

.slides {
    display: flex;
    transition: 0.5s ease-in-out;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 1024px; /* Hauteur des slides 
}

.jarallax-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(45, 43, 43, 0.5); /* Fond semi-transparent 
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    z-index: 2;
    overflow: visible ;
}

.message h1 {
    font-size: 6em;
    margin: 0;
} 
 */