/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
      font-family: Arial, sans-serif;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  .carrousel-container {
    width: 100%;
    margin: auto;
    text-align: left;
    background-color: #333;
  }

  .message h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
  }

  .slider {
    width: 100%;
    overflow: hidden;
    position :relative;
    margin-bottom: 20px;
  } 
  .slides {
    display: flex;
    transition: 0.5s;
}
  .slide {
    position: relative;
    min-width: 100%;
    transition: 0.5s;
}

  .slide img {
    width: 100%;
    height: auto;
    }

    .encadre {
      position: absolute;
      top: 500px;
      width: 50px;
      height: 150px;
      left: 980px;
      right: 200px;
      bottom: 350PX;
      transform: translateX(-50%);
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
      color: white;
      border-radius: 10px;
      width: 70%;
      text-align: left;
  }

  
  .encadre p {
    font-size: 1.2em;
  }

 
  
  
