{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<section id="intro" class="padding-large jarallax">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="section-title my-5">
            <p class="text-red display-2"> <em>« Une Microfinance  saine et  </em> pérenne »</p>
          </div>
  
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-darkg" data-aos="fade-up" data-aos-delay="0">
            <div class="card-body">
              <h3>Objectifs</h3>
              <p>Promouvoir l’inclusion financière au Sénégal, Renforcer l’offre de produits et services des SFD ... 
                </p>
              <a href="#">+ Infos</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-darkb" data-aos="fade-up" data-aos-delay="300">
            <div class="card-body">
              <h3>Approche</h3>
              <p>Offrir des services financiers et non  financiers adaptés aux besoins des SFD et de leurs bénéficiaires
             </p>
              <a href="#">+ Infos</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-darkv" data-aos="fade-up" data-aos-delay="600">
            <div class="card-body">
              <h3>Produits et Services</h3>
              <p>Prêts aux SFD en monnaie locale, à des conditions souples et correspondant à leurs spécificités
                </p>
              <a href="#">+ Infos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% load static %}
    
    <img src="{% static 'images/FEES-1.jpg' %} " class="jarallax-img">
  </section>
  <section id="about" class="padding-large">
    <div class="container">
      <div class="row">
        <header>
            <h2 class="text-orange "><strong>Historique</strong></h2>
          </header>
      </div>
      <div class="row mb-5">
        <div class="col-md-6">
          <blockquote class="blockquote">
            <h4> Experience</h4>
            <h6>Du Fonds de Contrepartie Sénégalo-Suisse</h6>
            <p align="justify"> … Créé dans le cadre d’un accord de réduction de dette signé le 4 juillet 1994 entre les gouvernements suisse et sénégalais, le Fonds de Contrepartie Sénégalo-Suisse fut l’un des douze fonds issus du programme suisse de désendettement créatif. D’un montant total de 1,9 milliards de francs CFA , il était destiné au financement des Systèmes Financiers Décentralisés (SFD) et à la promotion des micros, petites et moyennes entreprises au Sénégal
            </p>
            <h6> … A la Fondation Sen’Finances</h6> 
            <p align="justify"> La Fondation Sen’Finances a, outre l’Etat sénégalais, </p>
            <button type="button" class="btn btn-primary"><a href="{% url 'presentation' %}"> Lire plus</a></button>
          <blockquote>
        </div>
        <div class="col-md-6" style="background: url({% static 'images/post-fondation.jpg' %} );background-size: cover;">
        </div>
      </div>
      
      <header>
        <h2 class="text-orange "><strong>Actualités</strong></h2>
      </header>
      <section id="section-des-articles">
      <div class="container">        
        <div class="row">
         
          <div class="col-md-12">    
            <!-- post grid -->
            <div class="post-grid">
               <div class="row" data-masonry='{"percentPosition": true }'>
                 {% for articles in article %}
                <div class="col-md-4">
                  <article class="post-item">
                    <figure>
                      <a href="{% url 'articles_detail' articles.id %}" class="image-hvr-effect">
                       <img src="{% static articles.imagealaune.url %}" alt="{{ articles.titre}}"   class="post-image">
                      </a>
                    </figure>
    
                    <div class="post-content">	
                      <div class="post-meta">Catégorie : {{ articles.categorie }}</div>
                        <h5 class="post-title"><a href="{% url 'articles_detail' articles.id %}">{{ articles.titre }}</a></h5>
                        <p>{{ articles.contenu | truncatewords:25}}</p>
                        <a href="{% url 'articles_detail' articles.id %}" class="btn-link"><b>Plus d'infos</b></a>Publié par {{ articles.auteur }} <br>{{ articles.date_publication }}(820X390)
                    </div>
                  </article>
    
                </div>
                {% endfor %}
             
              </div> 
              
              <button type="button" class="btn btn-primary"><a href="{% url 'actualites' %}">Voir tous les articles</a></button>
          </div>
          
        </div>
      </div>
      </div>
    </section>
    </div>
    <!--/section-->
  </section>
  
    <div>
  </div>
  
{% endblock %}