{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Fondation Sen'Finances</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mediasof" content="kalayetech">
    <meta name="keywords" content="Finances social et solidaire">
    <meta name="description" content="Site de la Fondation ">
<!-- link -->
   {% comment %} <link rel="stylesheet" type="text/css" href="{% static  'css/vendor.css' %}"> {% endcomment %}
    {% comment %} <link href="{% static 'plugins/bootstrap-5.1.3/css/bootstrap.min.css' %} " rel="stylesheet"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static  'style.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static  'tes.css' %}"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous">   

    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"> {% endcomment %}
     <!-- link 
	================================================== -->

 <!-- script -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'jar.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <!-- script 
	================================================== -->
	

  {% block content %}
  {% endblock %}


<footer class="padding-large text-white bg-grey">
	<div class="container">
	    <div class="row">
	    	
	    	<div class="col-12 col-md-6">
		        <img src="{% static 'img/newlogos.png' %}">
		        <p>
		        	<a href="mailto:senfinances@senfinances.sn">senfinances@senfinances.sn</a><br>
		        	Point E - Rue de Saint-Louis - impasse UPIS - 1er étage Porte N°5  Dakar, Sénégal<br>
              senfinances@senfinances.sn <br>
		        	+221 33864 61 01
		        </p>
           
		    </div>
	    </div>
	    <div class="d-flex justify-content-between flex-wrap py-4 my-4 border-top">
	      <p>© 2024 Médiasoft</p>
        <p><i>« Contribuer à l’amélioration des conditions de vie des populations marginalisées et défavorisées du Sénégal »</i> </p>
	    </div>
	</div>
</footer>

<script src="{% static 'js/jquery-1.11.0.min.js' %} "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="{% static 'plugins/bootstrap-5.1.3/js/bootstrap.bundle.min.js ' %}"></script>
<script src="{% static 'js/plugins.js ' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jar.js' %}"></script>

</body>
</html>