{% include 'header.html' %} 


<body>
    {% block content %}
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <div class="container-fluid bg-danger px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Dakar, Dkr 22 450 Dakar Ponty, Sénégal</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>(+221) 33 864 61 01 </small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>senfinances@senfinances.sn</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
	{% load static %}
    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            
            <a href="#" class="navbar-brand p-0">
				<h1 class="m-0"><img src=" {% static 'img/neologo.jpg' %}" width="70%" height="100%" class="logosen" /></h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav ms-auto py-0">
                    <a href="{% url 'accueil' %}" class="nav-item nav-link">Accueil</a>
                    <a href="{% url 'presentation' %}" class="nav-item nav-link">Présentation</a>
                    <a href="{% url 'interventions' %}" class="nav-item nav-link">Interventions</a>
                    <a href="{% url 'partenariat' %}" class="nav-item nav-link active">Partenariat</a>
                    <a href="{% url 'actualites' %}" class="nav-item nav-link">Actualités</a>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                </div>
                <butaton type="button" class="btn text-info ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
            </div>
        </nav> 
    
        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Partenariat</h1>
                    <a href="" class="h5 text-white">Accueil</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="" class="h5 text-white">Partenariat</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-danger p-3" placeholder="Tapez le mot-clé de recherche">
                        <button class="btn btn-danger px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

<section class="pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="single-image col-md-12">
				<p align="justify"><B>SEN’FINANCES</B> est une fondation reconnue d'utilité publique par décret <B>N°2007-959 signé le 7 septembre 2007</B> par le président de la république du Sénégal.
				<br>Elle prend le relais du Fonds de Contrepartie Sénégalo-Suisse, et se doit ainsi d’assurer la continuité des opérations de microfinance précédemment dévolues à ce dernier. Ses ambitions dépassent cependant celles du FCSS.<br><br><i>«La finalité de la Fondation Sen’Finances est de contribuer à l’amélioration des conditions de vie des populations marginalisées et défavorisées du Sénégal. Son ambition est d’être un acteur reconnu et respecté de la microfinance au Sénégal »</i>.</p>
				<p align="justify">La Fondation Sen’Finances, en adéquation avec les priorités de développement du Sénégal en matière de lutte contre la pauvreté, vise l’amélioration des conditions de vie des populations marginalisées et défavorisées du pays</p>
				
			</div>
		</div>
		<div class="row">
			<div class="col"><img src="{% static 'images/img_pres.jpg' %}" alt="About us" /></div>
			<div class="col"><img src="{% static 'images/img_pres1.jpg' %}" alt="About us" /></div>
			<div class="col"><img src="{% static 'images/img_pres2.jpg' %}" alt="About us" /></div>
		</div>
		<div class="row">
			<div class="col-md-12"><br>
				<p>
					"Le choix d’une Fondation de droit sénégalais comme forme juridique a été guidé par le souci d’avoir une institution ayant un caractère d’utilité publique et qui soit pertinente de par sa stratégie d’intervention, tout en présentant de solides garanties de performance et de viabilité."
				</p>
				<p>
					Le projet de création d’une Fondation d’Utilité Publique (FUP) dans le secteur de la microfinance est novateur au Sénégal. Il en est attendu une œuvre d’utilité publique soutenant financièrement et socialement les institutions actives dans le secteur de la microfinance.
				</p>
				<p>
					<i><B>Le projet de création d’une Fondation d’Utilité Publique (FUP) dans le secteur de la microfinance est novateur au Sénégal. Il en est attendu une œuvre d’utilité publique soutenant financièrement et socialement les institutions actives dans le secteur de la microfinance.</B></i>
				</p>
			</div>

		</div>
	</div>
</section>
{% endblock %}
<!-- Team End -->
{% include 'footer.html' %} 


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>

    {% load static %}
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>