{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% load static %}
<body> {% block content %}
  <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
    
    <div class="container-fluid">
      
      <a class="navbar-brand" href="#"><img src=" {% static 'img/neologo.jpg' %}" width="35%" height="35%" class="logo" /></a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation"><ion-icon name="menu-outline"></ion-icon></button>
      
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link me-4" href="#intro">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#about">Présentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#events">Interventions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#latest-stories">Partenariat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#section-des-articles">Actualités</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#latest-stories">Contact</a>
              </li>
            </ul>
          </div>
    </div>   
    <div>
      <ul class="right-content-start list-unstyled d-flex">
        <li><a href="#" class="nav-link"><ion-icon name="logo-facebook" role="img" class="md hydrated"></ion-icon></a></li>
        <li><a href="#" class="nav-link"><ion-icon name="logo-linkedin" role="img" class="md hydrated"></ion-icon></a></li>
        <li><a href="#" class="nav-link"><ion-icon name="logo-twitter" role="img" class="md hydrated"></ion-icon></a></li>
      </ul>
    </div>
  </nav>
 <!-- Swiper -->
 {% comment %} <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
 centered-slides="true" autoplay-delay="4500" autoplay-disable-on-interaction="false">
 <swiper-slide>
    <div class="slide">
      <img src="{% static 'slider/01.jpg' %}" alt="Image 1">
      <div class="encadre">
          <h3>Objectifs</h3>
          <p>Promouvoir l’inclusion financière au Sénégal, Renforcer l’offre de produits et services des SFD ... </p>
          <button type="button" class="btn btn-primary"><a href="#"> + Infos</a></button>
      </div>
    </div>
</swiper-slide>
 <swiper-slide> 
    <div class="slide">
      <img src="{% static 'slider/02.jpg' %}" alt="Image 2">
        <div class="encadre">
          <h3>Approche</h3>
            <p>Offrir des services financiers et non  financiers adaptés aux besoins des SFD et de leurs bénéficiaires </p>
            <button type="button" class="btn btn-primary"><a href="#"> + Infos</a></button>
        </div>
      </div>
  </swiper-slide>
 <swiper-slide>
    <div class="slide">
      <img src="{% static 'slider/04.jpg' %}" alt="Image 3">
        <div class="encadre">
          <h3>Produits et Services</h3>
            <p>Prêts aux SFD en monnaie locale, à des conditions souples et correspondant à leurs spécificités</p>
            <button type="button" class="btn btn-primary"><a href="#"> + Infos</a></button>
        </div>
    </div>
  </swiper-slide>
 
 <div class="autoplay-progress" slot="container-end">
   <svg viewBox="0 0 48 48">
     <circle cx="24" cy="24" r="20"></circle>
   </svg>
   <span></span>
 </div>
</swiper-container>
    <script src="{% static 'js/jar.js' %} "></script> <p class="text-red display-2"> 
    <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
       {% endcomment %}
    <div class="img-slider">

      <div class="slide active">
        <img src="{% static 'slider/01.jpg' %}" alt="Image 1">
            <div class ="info">
              <h2>Objectifs</h2>
              <p>Promouvoir l’inclusion financière au Sénégal, Renforcer l’offre de produits et services des SFD ... </p>
              <button type="button" class="btn btn-primary"><a href="#"> + Infos</a></button>
            </div>
      </div>

      <div class ="slide">
        <img src="{% static 'slider/02.jpg' %}" alt="Image 2">
        <div class ="info">
          <h2>Approche</h2>
            <p>Offrir des services financiers et non  financiers adaptés aux besoins des SFD et de leurs bénéficiaires </p>
            <button type="button" class="btn btn-primary"><a href="#"> + Infos</a></button>
          </div>
      </div>

      <div class="slide">
        <img src="{% static 'slider/03.jpg' %}" alt="Image 3">
        <div class ="info">
            <h2>Produits et Services</h2>
              <p>Prêts aux SFD en monnaie locale, à des conditions souples et correspondant à leurs spécificités</p>
              <button type="button" class="btn btn-primary"><a href="#"> + Infos</a></button>
            </div>
      </div>

      <div class="slide">
        <img src="{% static 'slider/04.jpg' %}" alt="Image 1">
         <div class ="info">
            <h2>Objectifs</h2>
            <p>Promouvoir l’inclusion financière au Sénégal, Renforcer l’offre de produits et services des SFD ... </p>
            <button type="button" class="btn btn-primary"><a href="#"> + Infos</a></button>
          </div>
      </div>

      <div class="navigations">
        <div class="btn active"></div>
        <div class="btn"></div>
        <div class="btn"></div>
        <div class="btn"></div>
      </div>
    </div>
  <script type="text/javascript">
    var slides = document.querySelectorAll('.slide');
    var btns = document.querySelectorAll('btn');
    let currentSlide = 1;

    // Javascript for image slider manual navigation
    var manualNav = function(manual){
      slides.forEach((slide)=> {
      slide.classList.remove('active');
      
      btns.forEach((btn)=> {
        btn.
      })
       });
      slides[manual].classList.add('active');
      btns[manual].classList.add('active');
    }
    btns.forEach((btn,i)=>{
      btn.addEvenListener("cick",()=> {
        manualNav(i);
        currentSlide = i;
      })
    })
     // Javascript for image slider autoplay navigation
      var repeat = function(activeClass){
        let active = document.getElementByClassName('active') => {
          activeSlide.ClassList.remove('active');
        };
        let i = 1;

        var repeater = () => {
          setTimeout(function(){
            [...active].forEach((activeSlide) =>)


            slides[i].classList.add('active');
            btns[i].classList.add('active');
            i++;

            if(slides.length ==,i){
              i = 0;
            }
            if(i >= slides.length){
              return;
            }
            repeater();
          }, 10000);
        }
        repeater();
      }
      repeat();
  </script>  
      <em>« Une Microfinance  saine et  </em> pérenne »</p>
    {% endblock %}
</body>
</html>
